.App {
  font-family: 'Open Sans', sans-serif;
}

.carousel {
  box-shadow: 0 0 30px 0px grey;
}


/* Fixes to the slick carousel styles to display arrows */
.slick-next {
  right: 20px;
}

.slick-prev {
    left: 25px;
}

.slick-next, .slick-prev {
  border: none;
  z-index: 1;
}